body{
    background-color:#d0e4fe;
}
h1{
    font-weight: 100;
    text-align:center;
}
p{
    font-family:"Times New Roman";
    font-size:20px;
    border-style:hidden;
}

#tbl{
    background-color:rgb(253, 219, 155);
    border-style:hidden;
    border-collapse:separate; 
    /*border-spacing:0px 7px;*/
}
input{
    background-color:rgb(252, 233, 186);
    border-style:hidden;
    width:50px;
}
#ingredient{
    width:700px; 
    float:left;
}
#resultTable{
    width:700px; 
    float:right;
}